:root {
  --brand-color: #2196f3;
  --background-color: #2f303a;
  --backrground-second-color: #fff;
  --color-secondary: #212121;
  --paragraf-font-color: #757575;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --paragraf-font-size: 16px;
  --header2-font-size: 36px;
}
* {
  margin: 0;
  padding: 0;
  border-style: none;
}
body {
  font-family: var(--font-primary);
  letter-spacing: 0.03em;
  color: var(--paragraf-font-color);
  font-size: 14px;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.menu,
.contacts,
nav,
.header-section,
.advantages,
.example-list,
.ourTeam__list,
.portfolio-categories {
  display: flex;
  justify-content: space-between;
}
.header-section {
  padding-top: 24px;
  padding-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
}
.logo,
.footer-logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  color: var(--brand-color);
  line-height: 1.2px;
  letter-spacing: 0.03em;
}
.logo span {
  color: #000;
}
.menu {
  column-gap: 46px;
}
.menu li {
  position: relative;
}
.menu a {
  display: inline-block;
  color: var(--color-secondary);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu a,
.contacts a {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.active::after,
.bordered:hover::after {
  position: absolute;
  right: 0;
  margin-top: 37px;
  content: "";
  width: 100%;
  border-bottom: solid 4px #2196f3;
  border-radius: 4px;
}
.contacts {
  column-gap: 50px;
}
.menu a:focus,
.menu a:hover,
.contacts-link:focus,
.contacts-link:hover,
.footer-contacts a:focus,
.footer-contacts a:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.contacts-link {
  fill: var(--paragraf-font-color);
  color: var(--paragraf-font-color);
  display: flex;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link svg {
  margin-right: 10px;
}
.introduction {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--background-color);
  border: 1px solid #000;
}
.background-img {
  margin: auto;
  background-image: url(../images/sloganBackground.jpg),
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
}
.introduction-padding {
  padding: 200px 452px;
  text-align: center;
}
.slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--backrground-second-color);
  padding-bottom: 30px;
}
.slogan-button,
.modal-button {
  border: none;
  font-family: var(--font-primary);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--backrground-second-color);
  background-color: var(--brand-color);
  padding: 10px 41px 10px 42px;
}
.advantages > li:not(:last-child),
.ourTeam__list > li:not(:last-child),
.example-list > li:not(:last-child) {
  margin-right: 30px;
}
.advantages h3,
.footer-socialmedia-icons h3,
.label,
.newsletter-wrapper h3 {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  padding-bottom: 10px;
}
.advantages p {
  line-height: 1.7;
}
.top-icons {
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.example-section {
  padding-top: 0;
}
.example-list img {
  display: block;
}
.example-list li {
  position: relative;
}
.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  color: rgba(255, 255, 255, 1);
}
.example-header,
.section__header {
  text-align: center;
  color: var(--color-secondary);
  font-weight: 700;
  font-size: var(--header2-font-size);
  line-height: 1.2;
  padding-bottom: 50px;
}
.ourTeam__list {
  text-align: center;
}
.ourTeam__item {
  padding-bottom: 30px;
  background-color: var(--backrground-second-color);
  box-shadow: 0 2px 1px 0 #00000033, 0 1px 1px 0 #00000024,
    0 1px 3px 0 #0000001f;
}
.ourTeam {
  background: #f5f4fa;
}
.ourTeam__header {
  font-weight: 500;
  color: var(--color-secondary);
  padding-top: 30px;
  padding-bottom: 10px;
}
.ourTeam__p,
.ourTeam__header {
  font-size: var(--paragraf-font-size);
  line-height: 1.2;
}
.ourTeam__socialmediaIcons {
  margin-top: 16px;
}
.ourTeam__socialmediaIcons__list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.ourTeam__socialmediaIcons__item {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ourTeam__socialmediaIcons__item:hover,
.ourTeam__socialmediaIcons__item:focus {
  background-color: var(--brand-color);
  fill: var(--backrground-second-color);
}
.clients__list {
  display: flex;
  justify-content: space-between;
  fill: #afb1b8;
  gap: 30px;
}
.clients__icon {
  border: 1px solid #afb1b8;
  border-radius: 4%;
  padding: 17.71px 32px 14.25px 32px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover,
.clients__icon:focus {
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.portfolio-categories button {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-secondary);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-categories {
  justify-content: center;
}
.portfolio-categories button:focus,
.portfolio-categories button:hover {
  background-color: var(--brand-color);
  color: var(--backrground-second-color);
  box-shadow: 0 2px 2px 0 #0000001f, 0 1px 2px 0 #00000014,
    0 3px 1px 0 #0000001a;
}
.portfolio-item {
  display: block;
  border-bottom: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio-categories li:not(:last-child) {
  margin-right: 8px;
}
.portfolio-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}
.slide-out {
  max-width: 370px;
  position: relative;
  overflow: hidden;
}
.slide-out img {
  display: block;
}
.card-description {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  color: var(--backrground-second-color);
  background-color: #2196f3e5;
  transform: translateY(295px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .card-description {
  transform: translateY(0);
}
.caption {
  padding: 20px 24px;
}
.caption h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-secondary);
  margin-bottom: 4px;
}
.caption p {
  font-size: var(--paragraf-font-size);
  line-height: 1.9;
}
footer {
  background: var(--background-color);
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
.footer-logo span {
  color: var(--backrground-second-color);
}
.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer-adres {
  font-style: normal;
  line-height: 1.7;
  color: var(--backrground-second-color);
}
address {
  margin-top: 20px;
}
.footer-contacts a {
  font-style: normal;
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socialmedia-icons {
  padding-top: 72px;
  margin-right: 78px;
}
.footer-socialmedia-icons ul {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
  fill: var(--backrground-second-color);
}
.footer-socialmedia-icons li {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socialmedia-icons li:hover,
.footer-socialmedia-icons li:focus {
  background-color: var(--brand-color);
}
.footer-socialmedia-icons h3 {
  color: var(--backrground-second-color);
}
label {
  display: flex;
  flex-direction: column;
}
.newsletter-wrapper h3 {
  padding-bottom: 20px;
  color: var(--backrground-second-color);
}
.newsletter-subscription {
  display: flex;
}
.newsletter-subscription input {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 15px 16px 15px 16px;
  border: 1px solid #ffffff4d;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #ffffff99;
  background-color: var(--background-color);
  width: 358px;
}
.submit-button {
  padding: 10px 28px 10px 42px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  color: var(--backrground-second-color);
  background-color: var(--brand-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
}
.submit-button svg {
  margin-left: 24px;
  fill: rgba(255, 255, 255, 1);
  background-color: var(--brand-color);
}
/*modal*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 0.5s linear, opacity 0.5s linear;
}
.modal {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 581px;
  width: 528px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 0.5s linear;
  transform: translate(-50%) translateY(-50%) scale(1);
  padding: 40px;
}
.modal h3 {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 12px;
}
.is-hidden .modal {
  transform: translate(-50%) translateY(-50%) scale(0);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  background-color: #fff;
  padding: 6px;
}
.order-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-input:hover,
.order-input:focus-within,
.comment:hover,
.comment:focus-within {
  border: 1px solid var(--brand-color);
  outline: none;
}
.order-input:hover + .modal-icons,
.order-input:focus + .modal-icons {
  fill: var(--brand-color);
  outline: none;
}

.modal label,
.modal textarea {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--paragraf-font-color);
  padding-top: 10px;
  position: relative;
}
.modal-icons {
  position: absolute;
  left: 12px;
  top: 60%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal textarea {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}
.checkbox-control {
  display: flex;
  gap: 8px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 15px;
}
.checkbox-input {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(1px, 1px, 1px, 1px);
}
.termANDcondition {
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 15px;
  display: block;
  border: 2px solid #212121;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.order-input svg {
  display: block;
}
.checkbox-input:checked + .termANDcondition {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  overflow: visible;
}
.checkbox-input:checked + .termANDcondition svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}
.checkbox-control a {
  color: var(--brand-color);
  text-decoration: underline;
}
.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 76px;
  box-shadow: 0px 4px 4px 0px #00000026;
}
