@import "./utils/modern-normalize.css";
@import "./components/clients";
@import "./components/baseElements";
@import "./utils/variables";
@import "./components/ourTeam";
@import "./components/ourService";
@import "./components/advantages";
@import "./components/introduction";
@import "./components/header";
@import "./components/pageFooter";
@import "./components/modal";
@import "./components/portfolioMenu";
@import "./components/portfolioCards";
* {
  margin: 0;
  padding: 0;
  border-style: none;
}
body {
  font-family: $fontPrimary;
  letter-spacing: 0.03em;
  color: $paragrafColor;
  font-size: 14px;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
